:root {
    --cell-size: 100px;
    --mark-size: 90px;
}

body {
    margin: 0;
}

html {
    background: #cbccc7;
}

.game-field {
    margin-top: calc(100vh / 2 - 270px);
}

.wrapper {
    width: 492px;
    height: 492px;
    margin: 0 auto;
    border: 16px groove #4c2005;
    /*position: relative;*/
}

.wrapper .cell {
    background: url("img/bg.jpg");
    border: 8px solid transparent;
    border-image: radial-gradient(#B7672F, #271104);
    cursor: pointer;
    float: left;
    font-size: 100px;
    height: 148px;
    text-align: center;
    width: 148px;
}

.cell.cross,
.cell.zero {
    cursor: not-allowed;
}

.cell.cross::before,
.cell.cross::after {
    background-image: url("img/crosszerobc.PNG");
    border: 5px outset #DBC9AA;
}

.cell.zero::before {
    background-image: url("img/crosszerobc.PNG");
    border: 5px solid #DBC9AA;
}

.block.cross .cell:not(.cross):not(.zero):hover::before,
.block.cross .cell:not(.cross):not(.zero):hover::after,
.block.zero .cell:not(.cross):not(.zero):hover::before {
    background-image: url("img/crosszerobc.PNG");
}

.cell.cross::before,
.cell.cross::after,
.block.cross .cell:not(.cross):not(.zero):hover::before,
.block.cross .cell:not(.cross):not(.zero):hover::after {
    content: '';
    position: absolute;
    width: calc(var(--mark-size) * .15);
    height: var(--mark-size);
}

.cell.cross::before,
.block.cross .cell:not(.cross):not(.zero):hover::before {
    transform: rotate(45deg) translate(5px, 24px);
}

.cell.cross::after,
.block.cross .cell:not(.cross):not(.zero):hover::after {
    transform: rotate(-45deg) translate(-24px, 5px);
}

.cell.zero::before,
.cell.zero::after,
.block.zero .cell:not(.cross):not(.zero):hover::before,
.block.zero .cell:not(.cross):not(.zero):hover::after {
    content: '';
    position: absolute;
    border-radius: 100%;
}

.cell.zero::before,
.block.zero .cell:not(.cross):not(.zero):hover::before {
    width: var(--mark-size);
    height: var(--mark-size);
    transform: translate(-44px, 21px);
}

.cell.zero::after,
.block.zero .cell:not(.cross):not(.zero):hover::after {
    width: calc(var(--mark-size) * .7);
    height: calc(var(--mark-size) * .7);
    background-image: url("img/bg.jpg");
    transform: translate(-31px, 34px);
    border: 5px solid #DBC9AA;
}

.winning-message {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .9);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    flex-direction: column;
}

.winning-message button {
    font-size: 3rem;
    background-image: url("img/bg.jpg");
    border: 5px outset #4c2005;
    padding: .25em .5em;
    cursor: pointer;
}

.winning-message button:hover {
    background-color: black;
    color: white;
    border-color: white;
}

.winning-message.show {
    display: flex;
}
